@{
    ViewData["Title"] = "Admin Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2>Admin User Control Panel</h2>
    <a href='@Url.Action("Register", "Account")' class="btn btn-primary">Home</a>
</div>