@{
    ViewData["Title"] = "Son of Cod Seafood";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h1>Splash!</h1>
    <a href='@Url.Action("Create", "Customers")' class="btn btn-primary">Sign Up for our mail list!</a>
</div>