@{
    ViewData["Title"] = "Son of Cod Seafood";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <img src="~/img/fish1.jpg" />
    <div class="responsibility">
        <h4>Leader In Responsibility</h4>
        <p>For over 5 generations my family has put food on out table by making sure only the best gets to yours</p>
    </div>
    <a href='@Url.Action("Create", "Subscribers")' class="btn btn-primary">Sign Up for our Newsletter!</a>
</div>